* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #dedddd;
    display: table;
    text-align: center;
  }
  
  main {
    display: table-cell;
    vertical-align: middle;
  }
  
  #berlinClock {
    font-size: 0;
    float: left;
  }
  
  .light {
    display: inline-block;
    margin: 8px 4px;
  }
  
  #secondsLamp .light {
    height: 60px;
    width: 60px;
  }
  
  #fiveHourRow .light,
  #oneHourRow .light,
  #oneMinuteRow .light {
    height: 40px;
    width: 70px;
  }
  
  #fiveMinuteRow .light {
    height: 45px;
    width: 20px;
  }
  
  #secondsLamp .light {
    border-radius: 48px;
  }
  
  #fiveHourRow :first-child,
  #oneHourRow :first-child,
  #fiveMinuteRow :first-child,
  #oneMinuteRow :first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  
  #fiveHourRow :last-child,
  #oneHourRow :last-child,
  #fiveMinuteRow :last-child,
  #oneMinuteRow :last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  #secondsLamp .light.on,
  #fiveMinuteRow .light.on:not(:nth-child(3n + 3)),
  #oneMinuteRow .light.on {
    background-color: #ff3;
  }
  
  #secondsLamp .light.off,
  #fiveMinuteRow .light.off:not(:nth-child(3n + 3)),
  #oneMinuteRow .light.off {
    background-color: rgb(110, 110, 106);
  }
  
  #fiveHourRow .light.on,
  #oneHourRow .light.on,
  #fiveMinuteRow .light.on:nth-child(3n + 3) {
    background-color: #f33;
  }
  
  #fiveHourRow .light.off,
  #oneHourRow .light.off,
  #fiveMinuteRow .light.off:nth-child(3n + 3) {
    background-color: #633;
  }
